<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="page-footer font-small blue-grey lighten-5" th:fragment="footer">

    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4 ">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left " id="contentfootertext">

            <!-- Grid row -->
            <div class="row ">

                <div class="col-md-4 ">
                </div>

                <!-- Grid column -->
                <div class="col-md-4 " id="footer1text">
                    <h5 class="text-uppercase font-weight-bold ">Какой-то заголовок</h5>
                    Здесь у нас информация о сайте, да-да.
                </div>
                <!-- Grid column -->
                <div class="col-md-4 ">
                </div>

            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 " id="copyrightid">© 2029 Gruntikright:
            <a href="https://vk.com/kenny1314 "> RetroIgori.com</a>
        </div>
        <!-- Copyright -->

    </footer>
</footer>

</body>
</html>