<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container-fluet" style="
    margin-left: 20px;
    margin-right: 20px;" th:fragment="header">
    <div class=" row ">
        <div class="col-md-4"><img id="logo" src="../img/logo2.png"></div>
        <div class="col-md-6">
            <form class="form-inline my-2 my-lg-0 searchcl ">
                <input class="form-control mr-sm-2 inputclsearch" id="srch1" type="text " placeholder="Search ">
                <button class="btn btn-secondary my-2 my-sm-0 " type="submit ">Search</button>
            </form>
        </div>
        <div class="col-md-2" id="contid">
            тел. 375298265750<br> тел. 375296666666
        </div>
    </div>
</div>

</body>
</html>