<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <img src="../../../../resources/static/img/3ch.png" id="imgl">
    <a class="navbar-brand " href="# " id="gameofconsole">Игры по приставкам</a>
    <a class="navbar-brand " href="# ">Главная</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor01 "
            aria-controls="navbarColor01 " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01 ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="# ">Категории</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Приставки</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Оплата и доставка</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">О нас</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Контакты</a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>