<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <!--    <a href="/platform"><img src="../../../../resources/static/img/3ch.png" id="imgl"></a>-->
    <!--    <a class="navbar-brand " href="# " id="gameofconsole">РЕТРО ИГОРЫ</a>-->
    <a class="navbar-brand " href="/" style="margin-left: 65px;margin-right: 145px;">Главная</a>
    <!--    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor01 "-->
    <!--            aria-controls="navbarColor01 " aria-expanded="false " aria-label="Toggle navigation ">-->
    <!--        <span class="navbar-toggler-icon "></span>-->
    <!--    </button>-->


    <div class="collapse navbar-collapse " id="navbarColor01 ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="/genres">Жанры</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/listplatforms ">Приставки</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/delivery">Оплата и доставка</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/about">О нас</a>
            </li>


        </ul>
    </div>
</nav>


<!--<li class="dropdown nav-item show">-->
<!--    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">-->
<!--        <i class="material-icons">jjj</i>-->
<!--        <div class="ripple-container"></div>-->
<!--    </a>-->
<!--    <div class="dropdown-menu dropdown-with-icons show">-->
<!--        <a href="./sections.html#headers" class="dropdown-item">-->
<!--            <i class="material-icons">dns</i> Headers-->
<!--        </a>-->
<!--        <a href="./sections.html#features" class="dropdown-item">-->
<!--            <i class="material-icons">build</i> Features-->
<!--        </a>-->
<!--        <a href="./sections.html#blogs" class="dropdown-item">-->
<!--            <i class="material-icons">list</i> Blogs-->
<!--        </a>-->
<!--        <a href="./sections.html#teams" class="dropdown-item">-->
<!--            <i class="material-icons">people</i> Teams-->
<!--        </a>-->
<!--        <a href="./sections.html#projects" class="dropdown-item">-->
<!--            <i class="material-icons">assignment</i> Projects-->
<!--        </a>-->
<!--        <a href="./sections.html#pricing" class="dropdown-item">-->
<!--            <i class="material-icons">monetization_on</i> Pricing-->
<!--        </a>-->
<!--        <a href="./sections.html#testimonials" class="dropdown-item">-->
<!--            <i class="material-icons">chat</i> Testimonials-->
<!--        </a>-->
<!--        <a href="./sections.html#contactus" class="dropdown-item">-->
<!--            <i class="material-icons">call</i> Contacts-->
<!--        </a>-->
<!--    </div>-->
<!--</li>-->


</body>
</html>