label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    /*border:2px solid #f00;*/
    border:2px solid #20c997;
}


/* makes main-menu open on hover */
.menu-item:hover > .dropdown-menu {
    display: block;
}

/* makes sub-menu S open on hover */
.submenu-item:hover > .dropdown-menu {
    display: block;
}


.maincl {
    margin: auto;
    width: 1226px !important;
    background-color: white;
    border-radius: 10px;
    min-height: calc(100vh - 85px);
}

@media screen and (min-width: 1226px) {/* если окно браузера больше максимальной ширины сайта; убирает сдвиг влево */
    html {
        margin-left: calc(98vw - 100%);
        margin-right: 0;
    }
}

#logo {
    width: 140px;
    margin-left: 25px;
}

#imgl {
    width: 15px;
    height: 14px;
    margin-right: 3px;
    margin-top: 2px;
}

#contid.col-md-2 {
    padding-top: 13px;
}

.form-inline.my-2.my-lg-0.searchcl {
    padding-top: 20px;
}

#srch1.form-control.mr-sm-2.inputclsearch {
    width: 390px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    padding-left: 20px;
}

#gameofconsole.navbar-brand {
    padding-right: 75px;
}

#carouselExampleInterval.carousel.slide {
    width: 750px;
    margin-left: 80px;
    margin-top: 20px;
}

#footer1text {
    text-align: center;
    margin-bottom: 0px;
}

#contentfootertext {
    background-color: rgb(227, 228, 228);
}

#copyrightid {
    background-color: rgb(227, 228, 228);
}

/* wrapper*/
.bodycl {


    background-color: rgb(227, 228, 228);
    padding-top: 30px;
}

#firstellistpr {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#lastellistpr {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

a.list-group-item.list-group-item-action {
    border-left-width: 1px;
}

#card1id {
    height: 455px;
    width: 286px;
}

#imggame {
    width: 340px;
    height: 390px;
}

#gamediscrip {
    padding-top: 20px;
    padding-left: 90px;
}

#infoimg {
}

#infodiscrip {
    padding-top: 2px;
    /* padding-top: 30px; */
    background-color: white;
    padding-left: 20px;
}

#tabinfo {
    width: 350px;
}

#col1tabinfo {
    width: 150px;
}

#col2tabinfo {
    width: 200px;
}

#btncart {
    width: 116px;
    height: 44px;
}

table#tabinfo2 {
    background-color: #f8f9fa;;

}

#trinfo2 {
    vertical-align: top;
}

#trinfo3 {
    vertical-align: top;
}

#labform1 {
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}

#inputtextplatform {
    padding-right: 210px;
}