<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta charset="UTF-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{'/css/style.css'}" rel="stylesheet" />
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap_pulse.min.css">
<title th:text="#{title}"></title>
</head>

<body>

    <!-- FOOTER -->
    <div th:fragment="footer" th:remove="tag">
        <nav class="navbar fixed-bottom navbar-dark bg-primary">
            <!-- Copyright -->
            <div class="container">
                <span class="navbar-text" th:text="#{copy}">&copy;
                    2019 Blank Dev Team</span>
            </div>
            <!-- Copyright -->
        </nav>
    </div>

</body>
</html>
