<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{'/css/mycss.css'}" rel="stylesheet"/>
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet"/>
    <title>О нас</title>
</head>

<body>
<div class="bodycl">
    <div class="site">
        <div class="maincl">


            <!-- Header -->
            <div th:replace="fragments/headerth :: header"></div>

            <!-- Navbar -->
            <div th:replace="fragments/navbarth :: navbar"></div>


            <div class="container-fluet" style="width: 1211px;">
                <div class="row">
                    <!-- Menu -->
                    <div class="col-md-3" style="padding-right: 0px;">
                        <div th:replace="fragments/menuth :: menu"></div>


                    </div>

                    <div class="col-md-9" style="padding-left: 0px;">

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" style="padding-top: 15px; text-align: center">
                                <h3>Ничего не найдено</h3>
                            </div>
                            <div class="col-md-1"></div>
                        </div> <!-- /row -->

                    </div>
                </div> <!-- /MainCl -->

                <!--    <div th:replace="fragments/footerth :: footer"></div>-->
            </div>
        </div>
        <div th:replace="fragments/footerth :: footer"></div>
        <!-- Script bootstrap -->
        <div th:include="fragments/scriptth :: script"></div>
</body>

</html>