<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{'/css/mycss.css'}" rel="stylesheet"/>
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet"/>
    <title>Game</title>
</head>

<body>
<div class="bodycl">
    <div class="site">
        <div class="maincl">

            <!-- Header -->
            <div th:replace="fragments/headerth :: header"></div>

            <!-- Navbar -->
            <div th:replace="fragments/navbarth :: navbar"></div>


            <div class="container-fluet" style="width: 1211px;">
                <div class="row">
                    <!-- Menu -->
                    <div class="col-md-3" style="padding-right: 0px;">
                        <div th:replace="fragments/menuth :: menu"></div>


                    </div>

                    <div class="col-md-9" style="padding-left: 0px;">
                        <!-- Картинка + год, страна и т.д-->
                        <div class="container" id="gamediscrip">
                            <div class="row ">
                                <div class="col-md-6 " id="infoimg">
                                    <img th:src="@{'/getimgp/' + ${product.id}}"
                                         style="height: 200px;margin-top: 60px;">
                                    <!--                                <img th:src="@{'/getimgp/' + ${product.id}}" style="height: 390px; width: 340px">-->
                                    <!--                                <img src="/img/p1.jpg " id="imggame" >-->
                                </div>

                                <div class="col-md-6 " id="infodiscrip ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 th:text="${product.title}">Battletods</h3>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3" style="padding-left: 24px;">
                                            <th:block th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                                                <a th:href="${'/delgame/'+product.id}">
                                                    <button class="btn btn-danger">Удалить</button>
                                                </a>
                                            </th:block>
                                        </div>
                                    </div>
                                    <table border="0 " id="tabinfo">
                                        <tr>
                                            <td id="col1tabinfo">Язык:</td>
                                            <td id="col2tabinfo" th:text="${product.languages.name}">Русский (Интерфейс)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Платформа:</td>
                                            <td id="col2tabinfo" th:text="${product.platforms.name}">Dendy</td>
                                        </tr>

                                        <tr>
                                            <td id="col1tabinfo">Год выхода:</td>
                                            <td id="col2tabinfo" th:text="${product.yearOfIssue}">8888</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Возрастное огранчение:</td>
                                            <td id="col2tabinfo" th:text="${product.ageLimits.year} + ' +'">18+</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Жанр:</td>
                                            <td id="col2tabinfo" th:text="${product.genres.name}">Экшн</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Издатель:</td>
                                            <td id="col2tabinfo" th:text="${product.publishers.name}">Canami</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Количество:</td>
                                            <td id="col2tabinfo" th:text="${product.quantity}">-1</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Цена за день:</td>
                                            <td id="col2tabinfo" th:text="${product.oneDayPrice}+' $'">-1</td>
                                        </tr>
                                        <tr>
                                            <td id="col1tabinfo">Полная цена:</td>
                                            <td id="col2tabinfo" th:text="${product.fullPrice} +' $'">-1</td>
                                        </tr>

                                    </table>

                                    <div class="row">
                                        <form method="post" th:action="@{'/testDB/'+${product.id}}">
                                            <!-- добавить в корзину -->
                                            <div class="container">
                                                <div class="row" style="padding-top: 15px">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="container">

                                                                <div th:if="${!(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"
                                                                     class="row">
                                                                    <div class="col-md-6" style="text-align: center"><h5
                                                                            th:text="${#numbers.formatDecimal(product.oneDayPrice, 1, 'POINT', 2, 'POINT')+' p/д'}"
                                                                            id="pric">mmm</h5></div>
                                                                    <div class="col-md-6"
                                                                         style="text-align: center; padding-right: 0px;">
                                                                        <h5
                                                                                th:text="${#numbers.formatDecimal(product.oneDayPrice*3, 1, 'POINT', 2, 'POINT')}"
                                                                                id="finPri">mmm</h5>
                                                                        <h5>p/итог</h5>
                                                                    </div>
                                                                </div>
                                                                <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"
                                                                     class="row">
                                                                    <div class="col-md-6" style="text-align: center">
                                                                        <h5 th:text="${#numbers.formatDecimal(product.oneDayPrice*user.discount_rate, 1, 'POINT', 2, 'POINT')+' p/д'}"
                                                                            id="pric">mmm</h5>
                                                                        <s><h5 th:text="${#numbers.formatDecimal(product.oneDayPrice, 1, 'POINT', 2, 'POINT')+' p/д'}"
                                                                            id="pric">mmm</h5></s>
                                                                    </div>
                                                                    <div class="col-md-6"
                                                                         style="text-align: center; padding-right: 0px;">
                                                                        <h5
                                                                                th:text="${#numbers.formatDecimal(product.oneDayPrice*user.discount_rate*3, 1, 'POINT', 2, 'POINT')}"
                                                                                id="finPri">mmm</h5>
                                                                        <h5>p/итог</h5>

                                                                    </div>
                                                                </div>


                                                                <div class="row">
                                                                    <div class="col-md-6"
                                                                         style="padding-top: 4px; text-align: right;">
                                                                        <!--                                                            <h5>2022р/д</h5>-->

                                                                        <div class="input-group" style="width: 110px; "><span
                                                                                class="input-group-btn">
                                                                <button type="button btn-number"
                                                                        class="btn btn-success btn-number"
                                                                        data-type="minus"
                                                                        th:id="${'quant['+product.id+']'}"
                                                                        style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;height: 36.994048px;">-</button>
                                                            </span>

                                                                            <input type="hidden"
                                                                                   name="currentURL"
                                                                                   th:value="${currentURL}">

                                                                            <input type="hidden"
                                                                                   th:id="${'custId['+product.id+']'}"
                                                                                   name="custId"
                                                                                   th:value="${product.oneDayPrice}">
                                                                            <!--                                                                    <input   onchange="incr(this)" type="text"-->
                                                                            <input th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"
                                                                                   onchange="incr(this)" type="text"
                                                                                   th:id="${'quant['+product.id+']'}"
                                                                                   th:name="inputplus"
                                                                                   class="form-control input-number"
                                                                                   value="3"
                                                                                   min="1"
                                                                                   max="10" style="text-align: center;"
                                                                                   th:alt="${product.oneDayPrice}"
                                                                                   th:accept="${user.discount_rate}"
                                                                                   th:title="${product.id}">

                                                                            <input th:if="${!(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"
                                                                                   onchange="incr(this)" type="text"
                                                                                   th:id="${'quant['+product.id+']'}"
                                                                                   th:name="inputplus"
                                                                                   class="form-control input-number"
                                                                                   value="3"
                                                                                   min="1"
                                                                                   max="10" style="text-align: center;"
                                                                                   th:alt="${product.oneDayPrice}"
                                                                                   th:title="${product.id}">

                                                                            <script>
                                                                                function incr(e) {
                                                                                    var vi = document.getElementById('finPri');

                                                                                    if (e.accept.length != 0) {
                                                                                        var temp = e.value * e.alt * e.accept;
                                                                                    } else {
                                                                                        var temp = e.value * e.alt;
                                                                                    }

                                                                                    // var temp = e.value * e.alt * e.accept;
                                                                                    var temp = parseFloat(temp).toFixed(2);
                                                                                    // alert(temp);
                                                                                    // vi.innerText = temp + ' р/итог';
                                                                                    vi.innerText = temp;
                                                                                }

                                                                                function neincr(e) {
                                                                                    alert(e)
                                                                                }

                                                                            </script>
                                                                            <span class="input-group-btn">

                                    <button type="button btn-number" class="btn btn-success btn-number" data-type="plus"
                                            th:id="${'quant['+product.id+']'}"
                                            style="border-top-left-radius: 0px;border-bottom-left-radius: 0px; height: 36.994048px;">+</button></span>
                                                                        </div> <!-- div button-->
                                                                    </div> <!-- div group button -->
                                                                    <div class="col-md-6" style="padding-left: 5px">
                                                                        <a th:href="@{'/testDB/'+${product.id}}">
                                                                            <button type="submit"
                                                                                    th:href="@{'/testDB/'+${product.id}}"
                                                                                    class="btn btn-success"
                                                                                    id="btncart">
                                                                                В корзину
                                                                            </button>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--                                                <div class="row">-->
                                                        <!--                                                    mmmm-->
                                                        <!--                                                </div>-->
                                                    </div>
                                                    <div class="col-md-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/добавить в корзину-->
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Картинка + год, страна и т.д-->

                        <!-- Описание -->
                        <div class="container" style="margin-top:10px ">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <h4>Описание:</h4>
                                    <p th:text="${product.description}">
                                        Ну вот тут должно быть какое-то описание, вот такие вот дела. Игры серии
                                        выполнены в
                                        жанре «избей их всех». Сюжеты игр развиваются вокруг противостояния боевых жаб и
                                        Тёмной Королевы, главного отрицательного героя игр серии.
                                    </p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div> <!-- /Описание -->


                        <!-- блок почему именно мы?-->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-9"
                                     style=" border-radius: 10px; border: 1px solid #18bc9c; margin-left: 60px; margin-top: 30px; margin-bottom: 30px;">
                                    <div class="container">
                                        <div class="row" style="padding-top: 10px;">
                                            <div class="col-md-12">
                                                <h4>Почему именно RetroIgori?</h4>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom: 15px;">
                                            <div class="col-md-4">
                                                <img src="/img/money.png"> Цены ниже
                                            </div>
                                            <div class="col-md-4">
                                                <img src="/img/ex.png"> Эксклюзивы
                                            </div>
                                            <div class="col-md-4">
                                                <img src="/img/sale.png"> Скидки
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom: 15px;">
                                            <div class="col-md-4">
                                                <img src="/img/delivery.png"> Быстрая доставка
                                            </div>
                                            <div class="col-md-4">
                                                <img src="/img/economy.png"> Нет комиссии
                                            </div>
                                            <div class="col-md-4">
                                                <img src="/img/games.png"> Большой ассортимент
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div> <!-- почему именно мы конец -->
                    </div> <!-- /Col-md-9 -->
                </div> <!-- /Row -->
            </div>
        </div> <!-- /MainCl -->

        <!--    <div th:replace="fragments/footerth :: footer"></div>-->
    </div>
</div>
<div th:replace="fragments/footerth :: footer"></div>
<!-- Script bootstrap -->
<div th:include="fragments/scriptth :: script"></div>


<script>

    //plugin bootstrap minus and plus
    //http://jsfiddle.net/laelitenetwork/puJ6G/
    $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('id');
        type = $(this).attr('data-type');
        var input = $("input[id='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        // var name = $(this).attr('name');
        // alert('name '+name);
        fieldName = $(this).attr('id');
        // alert('field_name '+fieldName);
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][id='" + fieldName + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][id='" + fieldName + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
</body>

</html>