<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link th:href="@{'/css/mycss.css'}" rel="stylesheet"/>
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet"/>
    <title>Index</title>
</head>

<body>
<div class="bodycl">
    <!--    <h1>hello</h1>-->
    <div class="site">
        <div class="maincl">


            <!-- Header -->
            <div th:replace="fragments/headerth :: header"></div>

            <!-- Navbar -->
            <div th:replace="fragments/navbarth :: navbar"></div>


            <div class="container-fluet" style="width: 1211px;">
                <div class="row">
                    <!-- Menu -->
                    <!--                    <div class="col-md-3" style="padding-right: 0px;">-->
                    <div class="col-md-3" style="padding-right: 0px;">
                        <!--<div id="navwh">-->
                        <!--                        <a class="navbar-brand" style="padding-left: 18px;" href="#">Console</a>-->
                        <!--                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"-->
                        <!--                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"-->
                        <!--                                aria-label="Toggle navigation" style="-->
                        <!--    border-top-width: 0px;-->
                        <!--    border-right-width: 0px;-->
                        <!--    border-bottom-width: 0px;-->
                        <!--    border-left-width: 0px;-->
                        <!--    width: 40px;-->
                        <!--    height: 35px;-->
                        <!--    padding-left: 0px;-->
                        <!--    padding-top: 0px;-->
                        <!--    padding-bottom: 2px;-->
                        <!--    padding-right: 0px;-->
                        <!--    margin-bottom: 2px;-->
                        <!--">-->
                        <!--                            <img src="../img/hum1.png" style="width: 30px;-->
                        <!--    height: 30px;"></button>-->
                        <!--                        <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">-->
                        <!--                            <ul class="navbar-nav mr-auto" th:each="platfom: ${platforms}">-->
                        <!--                                <li><a th:href="@{'/platform/' + ${platfom.id}}" class="list-group-item list-group-item-action"-->
                        <!--                                       th:text="${platfom.name}">Sega Master-->
                        <!--                                    System</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <!--</div>-->
                        <div th:replace="fragments/menuth :: menu"></div>


                    </div>

                    <div class="col-md-9" style="padding-left: 0px;">

                        <div th:if="${ok!=null&&ok}">
                            <div class="form-group col-md-12" style=" text-align: center">

                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="
    margin-top: 10px;">
                                    Игра удалена
                                    <button type=" button
                                " class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel -->
                        <div id="carouselExampleInterval" class="carousel slide"
                             data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-interval="30000">
                                    <img src="img/1k.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-interval="30000">
                                    <img src="img/2k.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleInterval"
                               role="button" data-slide="prev"> <span
                                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                                    class="sr-only">Previous</span>
                            </a> <a class="carousel-control-next" href="#carouselExampleInterval"
                                    role="button" data-slide="next"> <span
                                class="carousel-control-next-icon" aria-hidden="true"></span> <span
                                class="sr-only">Next</span>
                        </a>
                        </div> <!-- /Carousel -->

                        <br>
                        <!-- Container with card -->
                        <div class="container" style="padding-left: 0px;">
                            <th:block
                                    th:with="partitions=${T(org.apache.commons.collections4.ListUtils).partition(productsList, 3)}">
                                <div class="row " th:each="partition: ${partitions}">
                                    <div class="col-md-4" th:each="info : ${partition}">
                                        <div class="card" style="width: 18rem; margin-bottom: 20px;" id="card1id">
                                            <a th:href="@{'/game/' +${info.id}}" class="btn btn-primary"
                                               style="padding: 0px;border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;">
                                                <img th:src="@{'/getimgp/' + ${info.id}}"
                                                     style="height: 160px; width: 286px">
                                            </a>
                                            <!--                                        <img src="img/card1.jpg " class="card-img-top">-->
                                            <div class="card-body">
                                                <form method="post" th:action="@{'/testDB/'+${info.id}}">
                                                    <h5 class="card-title " th:text="${info.title}">Battletoads</h5>

                                                    <p class="card-text"
                                                       th:text="${#strings.length(info.description)>160}? ${#strings.substring(info.description,0,160)}+'...' :'gruntov'"
                                                       style="width: 247px;height: 123px; margin-bottom: 10px;">
                                                        Игры серии выполнены в
                                                        жанре «избей их всех». Сюжеты игр развиваются вокруг
                                                        противостояния
                                                        боевых жаб и Тёмной Королевы, главного отрицательного героя игр
                                                        серии.</p>
                                                    <hr style="margin-top: 5px;margin-bottom: 5px;">
                                                    <div class="row">
                                                        <div th:if="${!(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"
                                                             class="col-md-12"
                                                             style="text-align: center;">
                                                            <b th:text="${info.oneDayPrice}">old</b>
                                                            <b th:text=" ' р/д'">r/day</b>
                                                        </div>

                                                        <!--                                                        <div th:if="${(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"-->
                                                        <!--                                                             class="col-md-12"-->
                                                        <!--                                                             style="text-align: center;">-->
                                                        <!--                                                            <b th:text="${info.oneDayPrice}"-->
                                                        <!--                                                               class="idoneday">-->
                                                        <!--                                                            </b>-->
                                                        <!--                                                            <s th:text="${info.oneDayPrice}">old</s>-->
                                                        <!--                                                            <b th:text=" 'р/день'">r/day</b>-->
                                                        <!--                                                        </div>-->

                                                        <!-- User Admin-->

                                                        <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"
                                                             class="col-md-12"
                                                             style="text-align: center;">
                                                            <!--                                                            <b th:if="${ user.order_amount>500}" th:text="${info.oneDayPrice*0.9}"></b>-->
                                                            <!--                                                            <b th:if="${ user.order_amount<500}" th:text="${info.oneDayPrice}"></b>-->
                                                            <b th:text="${info.oneDayPrice*user.discount_rate}"
                                                               class="idoneday">
                                                            </b>
                                                            <s th:text="${info.oneDayPrice}">old</s>
                                                            <b th:text=" ' р/д'">r/day</b>
                                                        </div>

                                                    </div>
                                                    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"
                                                         class="row">
                                                        <div class="col-md-12" style="text-align: center">
                                                            <b th:id="${info.id}"
                                                               th:text="${#numbers.formatDecimal(info.oneDayPrice*user.discount_rate*3, 1, 'POINT', 2, 'POINT')+' p/итог'}"></b>
                                                        </div>
                                                    </div>
                                                    <div th:if="${!(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"
                                                         class="row">
                                                        <div class="col-md-12" style="text-align: center">
                                                            <b th:id="${info.id}"
                                                               th:text="${#numbers.formatDecimal(info.oneDayPrice*3, 1, 'POINT', 2, 'POINT')+' p/итог'}"></b>
                                                        </div>
                                                    </div>

                                                    <hr style="margin-top: 5px;margin-bottom: 5px;">

                                                    <div class="container">

                                                        <div class="row" style="padding-left: 10px;">
                                                            <div class="col-md-6"
                                                                 style="padding-left: 4px;padding-right: 4px;">
                                                                <div class="input-group"><span class="input-group-btn">
                                    <button type="button btn-number" class="btn btn-success btn-number"
                                            data-type="minus" th:id="${'quant['+info.id+']'}"
                                            style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;height: 35.994048px;">
                                    -</button>
                                                            </span>
                                                                    <input type="hidden"
                                                                           th:id="${'custId['+info.id+']'}"
                                                                           name="custId"
                                                                           th:value="${info.oneDayPrice}">
                                                                    <!--                                                                    <input   onchange="incr(this)" type="text"-->
                                                                    <!--                                                                    <input th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"-->
                                                                    <input th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER')}"
                                                                           onchange="incr(this)" type="text"
                                                                           th:id="${'quant['+info.id+']'}"
                                                                           th:name="inputplus"
                                                                           th:accept="${user.discount_rate}"
                                                                           class="form-control input-number" value="3"
                                                                           min="1"
                                                                           max="10" style="text-align: center;"
                                                                           th:alt="${info.oneDayPrice}"
                                                                           th:title="${info.id}">

                                                                    <input th:if="${!(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}"
                                                                           onchange="incr(this)" type="text"
                                                                           th:id="${'quant['+info.id+']'}"
                                                                           th:name="inputplus"
                                                                           class="form-control input-number" value="3"
                                                                           min="1"
                                                                           max="10" style="text-align: center;"
                                                                           th:alt="${info.oneDayPrice}"
                                                                           th:title="${info.id}">

                                                                    <script>
                                                                        function incr(e) {
                                                                            if (e.accept.length != 0) {
                                                                                var temp = e.value * e.alt * e.accept;
                                                                            } else {
                                                                                var temp = e.value * e.alt;
                                                                            }

                                                                            if ((temp + "").indexOf(".") > 0) {
                                                                                document.getElementById(e.title).innerText = parseFloat(temp).toFixed(2) + ' p/итог';
                                                                            } else {
                                                                                document.getElementById(e.title).innerText = parseFloat(temp).toFixed(2) + ' p/итог';
                                                                            }
                                                                        }

                                                                        function neincr(e) {
                                                                            alert(e)
                                                                        }

                                                                    </script>
                                                                    <span class="input-group-btn">


                                    <button type="button btn-number" class="btn btn-success btn-number" data-type="plus"
                                            th:id="${'quant['+info.id+']'}"
                                            style="border-top-left-radius: 0px;border-bottom-left-radius: 0px; height: 35.994048px;">+</button></span>
                                                                </div> <!-- div bot-->
                                                            </div>
                                                            <div class="col-md-6"
                                                                 style="padding-left: 8px;padding-right: 0px;">
                                                                <button th:href="@{'/testDB/'+${info.id}}"
                                                                        class="btn btn-primary" type="submit"
                                                                >В корзину
                                                                </button>


                                                            </div>
                                                        </div>
                                                    </div> <!-- button-->
                                                </form> <!-- form -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div> <!-- /Container with card -->


                    </div> <!-- /Col-md-9 -->
                </div> <!-- /Row -->
            </div>
        </div> <!-- /MainCl -->

        <!--    <div th:replace="fragments/footerth :: footer"></div>-->
    </div>
</div>
<div th:replace="fragments/footerth :: footer"></div>
<!-- Script bootstrap -->
<div th:include="fragments/scriptth :: script"></div>

<script>

    for (let i = 0; i < document.getElementsByClassName("idoneday").length; i++) { // выведет 0, затем 1, затем 2
        var temp = document.getElementsByClassName("idoneday")[i].textContent;
        document.getElementsByClassName("idoneday")[i].innerHTML = parseFloat(temp).toFixed(2);
    }

    //plugin bootstrap minus and plus
    //http://jsfiddle.net/laelitenetwork/puJ6G/
    $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('id');
        type = $(this).attr('data-type');
        var input = $("input[id='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        // var name = $(this).attr('name');
        // alert('name '+name);
        fieldName = $(this).attr('id');
        // alert('field_name '+fieldName);
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][id='" + fieldName + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][id='" + fieldName + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
</body>

</html>