<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Logins</title>
</head>
<body>
<h1>Registration</h1>

<div class="container">
    <form method="POST" action="/registration" class="form-signin">
        <h2 class="form-heading">Registration</h2>

        <h3 th:text="${message}"></h3>
        <div class="form-group ">

            <input type="text" class="form-control" placeholder="name" name="name"/>
            <input type="text" class="form-control" placeholder="pass" name="pass"/>
            <input type="password" path="passwordConfirm" class="form-control"
                   placeholder="Confirm your password">

             <button class=" btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <!--            <h4 class="text-center"><a href="${contextPath}/registration">Create an account</a></h4>-->
        </div>
    </form>
</div>

</body>
</html>