<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{'/css/mycss.css'}" rel="stylesheet"/>
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet"/>
    <title>Reg</title>
</head>

<body>

<div class="container">

    <form method="POST" action="/registration">
        <h2 class="form-signin-heading">Create your account</h2>
        <input type="text" path="username" class="form-control" placeholder="Username"
               autofocus="true"/>

        <input type="password" path="password" class="form-control" placeholder="Password"/>
        <input type="password" path="passwordConfirm" class="form-control"
               placeholder="Confirm your password"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>

</body>
</html>
