<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons::head"></head>
<body>
    <h1>Helllllo</h1>


    <ul class="list-group" th:each="user: ${users}" >
        <li
            class="list-group-item d-flex justify-content-between align-items-center" 
            th:text="${user.username}">user</li>
    </ul>

    <ul class="list-group" th:each="role: ${roles}" >
        <li
            class="list-group-item d-flex justify-content-between align-items-center" 
            th:text="${role.name}">role</li>
    </ul>

   

    <div th:replace="commons::footer"></div>
    </div>
</body>
</html>
